fastapi
uvicorn[standard]
python-multipart

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt

langchain
langchain-core
langchain-groq
langgraph
groq

pypdf
python-docx